.titulo {

    font-family: "Agdasima", sans-serif;
    font-weight: 500;
    color: yellow;
    size: 30%;
}

.form-label {
    color: whitesmoke;
}

.boton{
    background-color: orange;
    color: whitesmoke;
}